{%- capture complementary_products_html -%}
  <product-recommendations-root
    class="complementary-products--root"
    data-max-products="{{ max_products }}"
    data-product-id="{{ product_id }}"
    data-intent="complementary"
    style="display:none;"
  >
    {%- if heading != blank and collapsible_row == false -%}
      <h3 class="complementary-products--heading" data-item="block-heading">
        {{- heading -}}
      </h3>
    {%- endif -%}

    <div class="complementary-products--container" data-products-container>
      {%- comment -%}
        `section/complementary-products.liquid` rendered here via JS
      {%- endcomment -%}
    </div>
  </product-recommendations-root>
{%- endcapture -%}

{%- liquid
  render 'section-assets', name: 'complementary-products', type: 'style'
  render 'section-assets', name: 'product-recommendations', type: 'script'

  if collapsible_row
    assign unique_id = product_id | append: '--collapsible-row'
    render 'collapsible-row', heading: heading, description: complementary_products_html, unique_id: unique_id
  else
    echo complementary_products_html
  endif
-%}