

<style>.gps-535360082796348174 .gp-relative{position:relative}.gps-535360082796348174 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535360082796348174 .gp-mb-0{margin-bottom:0}.gps-535360082796348174 .\!gp-inline{display:inline!important}.gps-535360082796348174 .gp-flex{display:flex}.gps-535360082796348174 .gp-grid{display:grid}.gps-535360082796348174 .\!gp-hidden{display:none!important}.gps-535360082796348174 .gp-hidden{display:none}.gps-535360082796348174 .gp-h-full{height:100%}.gps-535360082796348174 .gp-w-full{width:100%}.gps-535360082796348174 .gp-max-w-full{max-width:100%}.gps-535360082796348174 .gp-flex-col{flex-direction:column}.gps-535360082796348174 .gp-gap-y-0{row-gap:0}.gps-535360082796348174 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535360082796348174 .gp-duration-200{transition-duration:.2s}.gps-535360082796348174 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-535360082796348174 .tablet\:\!gp-hidden{display:none!important}.gps-535360082796348174 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-535360082796348174 .mobile\:\!gp-hidden{display:none!important}.gps-535360082796348174 .mobile\:gp-hidden{display:none}}.gps-535360082796348174 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gPeOBtItRn" data-id="gPeOBtItRn"
        style="--blockPadding:base;--ml:auto;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPeOBtItRn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTMv1r_fS7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gMaOa21ui8"
    role="presentation"
    class="gp-group/image gMaOa21ui8"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_9.15.51_AM.png?v=1707920277" />
        <source media="(max-width: 1023px)" srcset="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_9.15.51_AM.png?v=1707920277" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_9.15.51_AM.png?v=1707920277"
          alt=""
          fetchpriority="high"
          style="--aspect:2646/920;--aspect-tablet:2646/920;--aspect-mobile:2646/920;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_9.15.51_AM.png?v=1707920277" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_9.15.51_AM.png?v=1707920277" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-02-14_at_9.15.51_AM.png?v=1707920277"
        width="100%"
        alt=""
        style="--aspect:2646/920;--aspect-tablet:2646/920;--aspect-mobile:2646/920;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-535360082796348174 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=535138477415596977&sectionId=535360082796348174)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
