

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534053528595858186.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-534053528595858186.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534053528595858186.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534053528595858186.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534053528595858186.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534053528595858186.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534053528595858186.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534053528595858186.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534053528595858186.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534053528595858186.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534053528595858186.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-534053528595858186.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534053528595858186.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534053528595858186.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534053528595858186.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534053528595858186.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534053528595858186.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534053528595858186.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534053528595858186.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534053528595858186.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534053528595858186.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534053528595858186.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-534053528595858186.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534053528595858186.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534053528595858186.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534053528595858186.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534053528595858186.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534053528595858186.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534053528595858186.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534053528595858186.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534053528595858186.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534053528595858186.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534053528595858186.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-534053528595858186.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-534053528595858186.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534053528595858186.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534053528595858186.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534053528595858186.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-534053528595858186.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-534053528595858186.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534053528595858186.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534053528595858186.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534053528595858186.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534053528595858186.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-534053528595858186 .gp-relative{position:relative}.gps-534053528595858186 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534053528595858186 .gp-mb-0{margin-bottom:0}.gps-534053528595858186 .gp-flex{display:flex}.gps-534053528595858186 .gp-grid{display:grid}.gps-534053528595858186 .gp-contents{display:contents}.gps-534053528595858186 .\!gp-hidden{display:none!important}.gps-534053528595858186 .gp-hidden{display:none}.gps-534053528595858186 .gp-h-full{height:100%}.gps-534053528595858186 .gp-w-full{width:100%}.gps-534053528595858186 .gp-max-w-full{max-width:100%}.gps-534053528595858186 .gp-flex-col{flex-direction:column}.gps-534053528595858186 .gp-gap-y-0{row-gap:0}.gps-534053528595858186 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534053528595858186 .gp-duration-200{transition-duration:.2s}.gps-534053528595858186 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-534053528595858186 .tablet\:\!gp-hidden{display:none!important}.gps-534053528595858186 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534053528595858186 .mobile\:\!gp-hidden{display:none!important}.gps-534053528595858186 .mobile\:gp-hidden{display:none}}.gps-534053528595858186 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="ggh0fAfem4" data-id="ggh0fAfem4"
        style="--blockPadding:base;--pt:40px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggh0fAfem4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gdsPVxXpTL gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gfSOvM0LjK" data-id="gfSOvM0LjK"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfSOvM0LjK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gvk8QlhqoR gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gVP62JbgDV"
    role="presentation"
    class="gp-group/image gVP62JbgDV"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_532871831896458163-57d270f9-5fb2-4762-b0e2-4175c91fd7cb_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjY0NiIgaGVpZ2h0PSI5MjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI2NDYtOTIwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNjQ2IiBoZWlnaHQ9IjkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjY0NiIgaGVpZ2h0PSI5MjAiIGZpbGw9InVybCgjZy0yNjQ2LTkyMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI2NDYiIHRvPSIyNjQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_532871831896458163-57d270f9-5fb2-4762-b0e2-4175c91fd7cb_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjY0NiIgaGVpZ2h0PSI5MjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI2NDYtOTIwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNjQ2IiBoZWlnaHQ9IjkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjY0NiIgaGVpZ2h0PSI5MjAiIGZpbGw9InVybCgjZy0yNjQ2LTkyMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI2NDYiIHRvPSIyNjQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjY0NiIgaGVpZ2h0PSI5MjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI2NDYtOTIwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNjQ2IiBoZWlnaHQ9IjkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjY0NiIgaGVpZ2h0PSI5MjAiIGZpbGw9InVybCgjZy0yNjQ2LTkyMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI2NDYiIHRvPSIyNjQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_532871831896458163-57d270f9-5fb2-4762-b0e2-4175c91fd7cb.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:300px;--h-tablet:300px;--h-mobile:300px"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-534053528595858186 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534053421406225162&sectionId=534053528595858186)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
