

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534171330438759397.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-534171330438759397.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534171330438759397.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-534171330438759397.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534171330438759397.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534171330438759397.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534171330438759397.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534171330438759397.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534171330438759397.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534171330438759397.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534171330438759397.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-534171330438759397.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534171330438759397.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-534171330438759397.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534171330438759397.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534171330438759397.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534171330438759397.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534171330438759397.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534171330438759397.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534171330438759397.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534171330438759397.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534171330438759397.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534171330438759397.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534171330438759397.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534171330438759397.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534171330438759397.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534171330438759397.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-534171330438759397.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-534171330438759397.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-534171330438759397.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-534171330438759397.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534171330438759397.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534171330438759397.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534171330438759397.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534171330438759397.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534171330438759397.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534171330438759397.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534171330438759397.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534171330438759397.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-534171330438759397.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534171330438759397.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534171330438759397.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-534171330438759397.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-534171330438759397.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-534171330438759397.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534171330438759397.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-534171330438759397.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534171330438759397.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534171330438759397.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534171330438759397.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534171330438759397.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-534171330438759397.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-534171330438759397.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534171330438759397.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534171330438759397.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534171330438759397.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534171330438759397.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534171330438759397.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534171330438759397.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-534171330438759397 .gp-g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-534171330438759397 .gp-relative{position:relative}.gps-534171330438759397 .gp-z-1{z-index:1}.gps-534171330438759397 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534171330438759397 .gp-mb-0{margin-bottom:0}.gps-534171330438759397 .\!gp-inline{display:inline!important}.gps-534171330438759397 .gp-flex{display:flex}.gps-534171330438759397 .gp-inline-flex{display:inline-flex}.gps-534171330438759397 .gp-grid{display:grid}.gps-534171330438759397 .\!gp-hidden{display:none!important}.gps-534171330438759397 .gp-hidden{display:none}.gps-534171330438759397 .gp-h-full{height:100%}.gps-534171330438759397 .gp-w-full{width:100%}.gps-534171330438759397 .gp-max-w-full{max-width:100%}.gps-534171330438759397 .gp-flex-col{flex-direction:column}.gps-534171330438759397 .gp-items-center{align-items:center}.gps-534171330438759397 .gp-justify-center{justify-content:center}.gps-534171330438759397 .gp-gap-y-0{row-gap:0}.gps-534171330438759397 .gp-overflow-hidden{overflow:hidden}.gps-534171330438759397 .gp-break-words{overflow-wrap:break-word}.gps-534171330438759397 .gp-rounded-none{border-radius:0}.gps-534171330438759397 .gp-no-underline{text-decoration-line:none}.gps-534171330438759397 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534171330438759397 .gp-duration-200{transition-duration:.2s}.gps-534171330438759397 .gp-duration-300{transition-duration:.3s}.gps-534171330438759397 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534171330438759397 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-534171330438759397 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-534171330438759397 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-534171330438759397 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-534171330438759397 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-534171330438759397 .tablet\:\!gp-hidden{display:none!important}.gps-534171330438759397 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534171330438759397 .mobile\:\!gp-hidden{display:none!important}.gps-534171330438759397 .mobile\:gp-hidden{display:none}}.gps-534171330438759397 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534171330438759397 .\[\&_p\]\:gp-inline p{display:inline}.gps-534171330438759397 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-534171330438759397 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534171330438759397 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l99a2684285"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(246, 246, 246)"
        class="i2l99a2684285 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l99a2684285 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2l99a2684285"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l99a2684285 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lc95f6944a7 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="YsVkclBvhalv "
        style="--ta:center;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Hazelle, 'Hazelle'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gYsVkclBvhalv_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="ZmTFwbnVCsPr "
        style="--ta:center;--mt:0px;--ml:0px;--mb:32px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(32, 32, 32);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gZmTFwbnVCsPr_text }}</div>
      </div>
    </div><div
    
    role="presentation"
    class="gp-group/image mSKIigLolaKn"
    style="--mt:0px;--ml:0px;--mb:32px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      isNotLazyload="true"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagejvevvxkxop.png" width="1198" height="551" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      style="--aspect:1198/551;--aspect-tablet:1198/551;--aspect-mobile:1198/551;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagejvevvxkxop.png" data-srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagejvevvxkxop.png 768w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagejvevvxkxop.png 1024w,https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagejvevvxkxop.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1198" height="551" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1198/551;--aspect-tablet:1198/551;--aspect-mobile:1198/551;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
  <gp-button >
  <div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    
  >
    <style>
    .KOrHvByJaIWK.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .KOrHvByJaIWK:hover::before {
      
      
    }

    .KOrHvByJaIWK:hover .gp-button-icon {
      color: undefined;
    }

     .KOrHvByJaIWK .gp-button-icon {
      color: rgb(33, 33, 33);
    }

    .KOrHvByJaIWK:hover .gp-button-price {
      color: undefined;
    }

    .KOrHvByJaIWK .gp-button-price {
      color: rgb(33, 33, 33);
    }

    .KOrHvByJaIWK .gp-product-dot-price {
       color: rgb(33, 33, 33);
    }

    .KOrHvByJaIWK:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="KOrHvByJaIWK" aria-label="SHOP NOW"
      
      data-state="idle"
      class="KOrHvByJaIWK gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight"
      style="--bg:rgb(229, 201, 189);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:rgb(33, 33, 33);--size:13px;--size-tablet:14px;--size-mobile:12px;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:13px;--size-tablet:14px;--size-mobile:12px"
      >
        {{ section.settings.gKOrHvByJaIWK_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-534171330438759397 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534164834787263461&sectionId=534171330438759397)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gYsVkclBvhalv_text","label":"gYsVkclBvhalv_text","default":"STUNNING LA SHES FOR EVE RYONE"},{"type":"html","id":"gZmTFwbnVCsPr_text","label":"gZmTFwbnVCsPr_text","default":"BECAUSE YOU'RE BEAUTIFUL"},{"type":"html","id":"gKOrHvByJaIWK_label","label":"gKOrHvByJaIWK_label","default":"SHOP NOW"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
