

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-533162789741527822.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-533162789741527822.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-533162789741527822.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-533162789741527822.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-533162789741527822.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-533162789741527822.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-533162789741527822.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-533162789741527822.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-533162789741527822.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-533162789741527822.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-533162789741527822.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-533162789741527822.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-533162789741527822.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-533162789741527822.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-533162789741527822.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-533162789741527822.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-533162789741527822.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-533162789741527822.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-533162789741527822.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-533162789741527822.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-533162789741527822.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-533162789741527822.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-533162789741527822.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-533162789741527822.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-533162789741527822.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-533162789741527822.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-533162789741527822.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-533162789741527822.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-533162789741527822.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-533162789741527822.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-533162789741527822.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-533162789741527822.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-533162789741527822.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-533162789741527822.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-533162789741527822.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-533162789741527822 .gp-relative{position:relative}.gps-533162789741527822 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-533162789741527822 .gp-mb-0{margin-bottom:0}.gps-533162789741527822 .gp-flex{display:flex}.gps-533162789741527822 .gp-grid{display:grid}.gps-533162789741527822 .\!gp-hidden{display:none!important}.gps-533162789741527822 .gp-hidden{display:none}.gps-533162789741527822 .gp-max-w-full{max-width:100%}.gps-533162789741527822 .gp-flex-col{flex-direction:column}.gps-533162789741527822 .gp-gap-y-0{row-gap:0}.gps-533162789741527822 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-533162789741527822 .gp-duration-200{transition-duration:.2s}.gps-533162789741527822 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-533162789741527822 .tablet\:\!gp-hidden{display:none!important}.gps-533162789741527822 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-533162789741527822 .mobile\:\!gp-hidden{display:none!important}.gps-533162789741527822 .mobile\:gp-hidden{display:none}}.gps-533162789741527822 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gSOYM1DY39"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSOYM1DY39 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glYPm_GaRS gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gpwH4VwZiP "
    ><div><div style="margin:0 auto;" class="pxFormGenerator" id="3ouO3AbXMtyDF59EiX4udw"></div></div></div>
  
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-533162789741527822 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=533162707147293943&sectionId=533162789741527822)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
