

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534053528595858405.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-534053528595858405.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534053528595858405.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534053528595858405.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534053528595858405.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534053528595858405.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534053528595858405.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534053528595858405.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534053528595858405.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534053528595858405.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534053528595858405.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-534053528595858405.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534053528595858405.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534053528595858405.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534053528595858405.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534053528595858405.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534053528595858405.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534053528595858405.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534053528595858405.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534053528595858405.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534053528595858405.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534053528595858405.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534053528595858405.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534053528595858405.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534053528595858405.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534053528595858405.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534053528595858405.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534053528595858405.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-534053528595858405.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-534053528595858405.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534053528595858405.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534053528595858405.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-534053528595858405.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-534053528595858405.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-534053528595858405.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534053528595858405.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-534053528595858405.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-534053528595858405.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534053528595858405.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534053528595858405.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-534053528595858405.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-534053528595858405.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-534053528595858405.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-534053528595858405.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-534053528595858405.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-534053528595858405.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534053528595858405.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-534053528595858405.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534053528595858405.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534053528595858405.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-534053528595858405.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-534053528595858405.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-534053528595858405 .-gp-translate-x-1\/2,.gps-534053528595858405 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-534053528595858405 .gp-absolute{position:absolute}.gps-534053528595858405 .gp-relative{position:relative}.gps-534053528595858405 .gp-left-0{left:0}.gps-534053528595858405 .gp-left-1\/2{left:50%}.gps-534053528595858405 .gp-top-0{top:0}.gps-534053528595858405 .gp-top-1\/2{top:50%}.gps-534053528595858405 .gp-z-1{z-index:1}.gps-534053528595858405 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534053528595858405 .gp-mb-0{margin-bottom:0}.gps-534053528595858405 .gp-flex{display:flex}.gps-534053528595858405 .gp-grid{display:grid}.gps-534053528595858405 .\!gp-hidden{display:none!important}.gps-534053528595858405 .gp-hidden{display:none}.gps-534053528595858405 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-534053528595858405 .gp-h-full{height:100%}.gps-534053528595858405 .gp-w-14{width:56px}.gps-534053528595858405 .gp-w-5{width:20px}.gps-534053528595858405 .gp-w-full{width:100%}.gps-534053528595858405 .gp-max-w-full{max-width:100%}.gps-534053528595858405 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-534053528595858405 .-gp-translate-x-1\/2,.gps-534053528595858405 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-534053528595858405 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-534053528595858405 .gp-flex-col{flex-direction:column}.gps-534053528595858405 .gp-items-center{align-items:center}.gps-534053528595858405 .\!gp-justify-center{justify-content:center!important}.gps-534053528595858405 .gp-justify-center{justify-content:center}.gps-534053528595858405 .gp-gap-y-0{row-gap:0}.gps-534053528595858405 .gp-overflow-hidden{overflow:hidden}.gps-534053528595858405 .gp-rounded{border-radius:4px}.gps-534053528595858405 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-534053528595858405 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-534053528595858405 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-534053528595858405 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534053528595858405 .gp-duration-200{transition-duration:.2s}.gps-534053528595858405 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-534053528595858405 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1024px){.gps-534053528595858405 .tablet\:gp-relative{position:relative}.gps-534053528595858405 .tablet\:\!gp-hidden{display:none!important}.gps-534053528595858405 .tablet\:gp-hidden{display:none}.gps-534053528595858405 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-534053528595858405 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-534053528595858405 .mobile\:gp-relative{position:relative}.gps-534053528595858405 .mobile\:\!gp-hidden{display:none!important}.gps-534053528595858405 .mobile\:gp-hidden{display:none}.gps-534053528595858405 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-534053528595858405 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-534053528595858405 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-534053528595858405 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-534053528595858405 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gObmmUimvw" data-id="gObmmUimvw"
        style="--blockPadding:base;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gObmmUimvw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gRI3l2k3GL gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"type":"video","color":"bg-2","size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0b0507be6d5343f39027f9c2e6f1626d.mp4","videoType":"html5","loop":true,"lazyLoad":false},"tablet":{"type":"video","color":"bg-2","size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0b0507be6d5343f39027f9c2e6f1626d.mp4","videoType":"html5","loop":true,"lazyLoad":false},"mobile":{"type":"video","color":"bg-2","size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0b0507be6d5343f39027f9c2e6f1626d.mp4","videoType":"html5","loop":true,"lazyLoad":false}},"uid":"gfqVbskXX1","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="gfqVbskXX1 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:16/9;--aspect-tablet:16/9;--aspect-mobile:auto"
        data-id="gfqVbskXX1"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:500px;--aspect:16/9;--aspect-tablet:16/9;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0wLTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjAiIGhlaWdodD0iMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMCIgaGVpZ2h0PSIwIiBmaWxsPSJ1cmwoI2ctMC0wKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMCIgdG89IjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0wLTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjAiIGhlaWdodD0iMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMCIgaGVpZ2h0PSIwIiBmaWxsPSJ1cmwoI2ctMC0wKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMCIgdG89IjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0wLTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjAiIGhlaWdodD0iMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMCIgaGVpZ2h0PSIwIiBmaWxsPSJ1cmwoI2ctMC0wKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMCIgdG89IjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('');--bgi-tablet:url('');--bgi-mobile:url('');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gfqVbskXX1"
      class=" gp-w-full gp-relative  lazy gp-object-cover"
      style="--aspect:16/9;--aspect-mobile:auto"
      
      loop
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src=""
      src=""
      poster=""
      playsinline
    >
    
  </video>
    <div
          style="--aspect:16/9;--aspect-mobile:auto"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center;--d-mobile:none"
      class="gBbDXWE8MN gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-534053528595858405 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534053421406225162&sectionId=534053528595858405)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
