

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534171410382193760.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534171410382193760.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534171410382193760.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534171410382193760.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534171410382193760.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534171410382193760.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534171410382193760.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534171410382193760.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534171410382193760.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-534171410382193760.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534171410382193760.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-534171410382193760.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-534171410382193760.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-534171410382193760.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534171410382193760.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-534171410382193760.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-534171410382193760.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-534171410382193760.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534171410382193760.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534171410382193760.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534171410382193760.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534171410382193760.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534171410382193760.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534171410382193760.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534171410382193760.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534171410382193760.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534171410382193760.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534171410382193760.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534171410382193760.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534171410382193760.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-534171410382193760.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-534171410382193760.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-534171410382193760.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534171410382193760.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534171410382193760.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534171410382193760.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534171410382193760.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534171410382193760.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534171410382193760.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534171410382193760.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534171410382193760.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534171410382193760.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534171410382193760.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534171410382193760.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-534171410382193760.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-534171410382193760.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534171410382193760.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-534171410382193760.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534171410382193760.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534171410382193760.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534171410382193760.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-534171410382193760.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534171410382193760.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534171410382193760.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534171410382193760.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534171410382193760.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534171410382193760.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-534171410382193760 .gp-relative{position:relative}.gps-534171410382193760 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534171410382193760 .gp-mb-0{margin-bottom:0}.gps-534171410382193760 .gp-flex{display:flex}.gps-534171410382193760 .gp-inline-flex{display:inline-flex}.gps-534171410382193760 .gp-grid{display:grid}.gps-534171410382193760 .\!gp-hidden{display:none!important}.gps-534171410382193760 .gp-hidden{display:none}.gps-534171410382193760 .gp-w-full{width:100%}.gps-534171410382193760 .gp-max-w-full{max-width:100%}.gps-534171410382193760 .gp-flex-col{flex-direction:column}.gps-534171410382193760 .gp-flex-wrap{flex-wrap:wrap}.gps-534171410382193760 .gp-items-center{align-items:center}.gps-534171410382193760 .gp-justify-center{justify-content:center}.gps-534171410382193760 .gp-gap-y-0{row-gap:0}.gps-534171410382193760 .gp-overflow-hidden{overflow:hidden}.gps-534171410382193760 .gp-leading-\[0\]{line-height:0}.gps-534171410382193760 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-534171410382193760 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534171410382193760 .gp-duration-200{transition-duration:.2s}.gps-534171410382193760 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-534171410382193760 .tablet\:\!gp-hidden{display:none!important}.gps-534171410382193760 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534171410382193760 .mobile\:\!gp-hidden{display:none!important}.gps-534171410382193760 .mobile\:gp-hidden{display:none}}.gps-534171410382193760 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-534171410382193760 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-534171410382193760 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-534171410382193760 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-534171410382193760 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534171410382193760 .\[\&_p\]\:gp-inline p{display:inline}.gps-534171410382193760 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534171410382193760 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2ld56a862aa1"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(229, 202, 190)"
        class="i2ld56a862aa1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_klHgvUmsNfqd gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="rewrap_row_klHgvUmsNfqd"
        style="--b:solid;--bc:rgb(230, 202, 190);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:20px;--pl:16px;--pb:28px;--pr:16px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:rgb(229, 201, 189)"
        class="rewrap_row_klHgvUmsNfqd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="i2l0fee2ee5a1 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="PRAZQZWhEfSl "
        style="--ta:center;--mt:0px;--ml:0px;--mb:44px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:25px;--size-mobile:23px;--c:rgb(35, 34, 34);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gPRAZQZWhEfSl_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="wVGtqZEjTKIc "
        style="--ta:center;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gwVGtqZEjTKIc_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="AvztghDcVBQD "
        style="--ta:center;--mt:0px;--ml:0px;--mb:44px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gAvztghDcVBQD_text }}</div>
      </div>
    </div>
    
      
      
    <div
      
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:8px;--jc:center">
            <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="i2l5444182a91 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="gp-leading-[0] i2l2004bd52b6"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="i2l8045922f49 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="gp-leading-[0] i2l2ea60660a9"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="i2l1a59703ddb ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="gp-leading-[0] i2l8e946d1b53"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="i2lede206e8a6 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="gp-leading-[0] i2l44267b3bf4"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="i2ld90fd811d8 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
      class="gp-leading-[0] i2l4d69cbac4d"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 16",
    "tag": "section",
    "class": "gps-534171410382193760 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534164834787263461&sectionId=534171410382193760)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gPRAZQZWhEfSl_text","label":"gPRAZQZWhEfSl_text","default":"FOLLOW US ON SOCIAL MEDIA"},{"type":"html","id":"gwVGtqZEjTKIc_text","label":"gwVGtqZEjTKIc_text","default":"Join a growing community of women empowering each other to look and feel their best, and stay up to date on new products, deals"},{"type":"html","id":"gAvztghDcVBQD_text","label":"gAvztghDcVBQD_text","default":"tips, and tricks to unleash your inner beauty."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
