

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534637098116908193.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534637098116908193.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534637098116908193.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534637098116908193.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534637098116908193.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534637098116908193.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534637098116908193.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534637098116908193.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534637098116908193.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534637098116908193.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-534637098116908193.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534637098116908193.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534637098116908193.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534637098116908193.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534637098116908193.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534637098116908193.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534637098116908193.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534637098116908193.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534637098116908193.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534637098116908193.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534637098116908193.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534637098116908193.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-534637098116908193.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534637098116908193.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534637098116908193.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534637098116908193.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534637098116908193.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534637098116908193.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534637098116908193.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534637098116908193.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534637098116908193.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534637098116908193.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-534637098116908193.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-534637098116908193.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534637098116908193.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-534637098116908193.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534637098116908193.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-534637098116908193.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534637098116908193.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534637098116908193.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-534637098116908193.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534637098116908193.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-534637098116908193.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534637098116908193.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534637098116908193.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-534637098116908193 .gp-relative{position:relative}.gps-534637098116908193 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534637098116908193 .gp-mb-0{margin-bottom:0}.gps-534637098116908193 .gp-flex{display:flex}.gps-534637098116908193 .gp-grid{display:grid}.gps-534637098116908193 .\!gp-hidden{display:none!important}.gps-534637098116908193 .gp-hidden{display:none}.gps-534637098116908193 .gp-max-w-full{max-width:100%}.gps-534637098116908193 .gp-flex-col{flex-direction:column}.gps-534637098116908193 .gp-gap-y-0{row-gap:0}.gps-534637098116908193 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534637098116908193 .gp-duration-200{transition-duration:.2s}.gps-534637098116908193 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-534637098116908193 .tablet\:\!gp-hidden{display:none!important}.gps-534637098116908193 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534637098116908193 .mobile\:\!gp-hidden{display:none!important}.gps-534637098116908193 .mobile\:gp-hidden{display:none}}.gps-534637098116908193 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534637098116908193 .\[\&_p\]\:gp-inline p{display:inline}.gps-534637098116908193 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534637098116908193 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gA_Pdlz6lJ"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gA_Pdlz6lJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="giPbHGFJ24 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gfAu_Z50je "
        style="--ta:left;--pt:var(--g-s-3xl);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:30px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggfAu_Z50je_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-534637098116908193 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534637097848407201&sectionId=534637098116908193)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggfAu_Z50je_text","label":"ggfAu_Z50je_text","default":"lash collection"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
