

<style>.gps-549795511062758304 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-549795511062758304 .gp-relative{position:relative}.gps-549795511062758304 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-549795511062758304 .gp-mb-0{margin-bottom:0}.gps-549795511062758304 .gp-block{display:block}.gps-549795511062758304 .gp-flex{display:flex}.gps-549795511062758304 .gp-inline-flex{display:inline-flex}.gps-549795511062758304 .gp-grid{display:grid}.gps-549795511062758304 .\!gp-hidden{display:none!important}.gps-549795511062758304 .gp-hidden{display:none}.gps-549795511062758304 .gp-max-w-full{max-width:100%}.gps-549795511062758304 .gp-flex-none{flex:none}.gps-549795511062758304 .gp-flex-col{flex-direction:column}.gps-549795511062758304 .gp-items-center{align-items:center}.gps-549795511062758304 .gp-justify-center{justify-content:center}.gps-549795511062758304 .gp-gap-y-0{row-gap:0}.gps-549795511062758304 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549795511062758304 .gp-duration-200{transition-duration:.2s}.gps-549795511062758304 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-549795511062758304 .tablet\:gp-block{display:block}.gps-549795511062758304 .tablet\:\!gp-hidden{display:none!important}.gps-549795511062758304 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-549795511062758304 .mobile\:gp-block{display:block}.gps-549795511062758304 .mobile\:\!gp-hidden{display:none!important}.gps-549795511062758304 .mobile\:gp-hidden{display:none}.gps-549795511062758304 .mobile\:gp-justify-center{justify-content:center}}.gps-549795511062758304 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-549795511062758304 .\[\&_p\]\:gp-inline p{display:inline}.gps-549795511062758304 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-549795511062758304 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gp6tINJhi-" data-id="gp6tINJhi-"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pb-mobile:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gp6tINJhi- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gg422Xj1QW gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-R5ylguWL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g-R5ylguWL "
        style="--tt:default;--ta:center;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ml:0px;--mb:0px;--pl:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--pr-tablet:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--c:#242424;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--weight:400;--size:45px;--size-tablet:41px;--size-mobile:36px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--pl:0px;--pr:0px;--pt:50px;--pb:4px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:20px;--pb-mobile:4px;--radius:var(--g-radius-small);overflow:hidden"
        >{{ section.settings.gg-R5ylguWL_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:33px;--mb:0px;--pt:var(--g-s-l);--pb:16px;--mt-mobile:33px;--mb-mobile:0px;--pt-mobile:1px;--pb-mobile:0px" class="gpzwV6gd9o ">
      
    <div
    data-id="gpzwV6gd9o"
      class="gp-flex gp-justify-center mobile:gp-justify-center"
    >
      <div
        style="--w:70px;--w-tablet:70px;--w-mobile:70px;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:#242424"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:70px;--w-tablet:70px;--w-mobile:70px;--bc:#242424;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:70px;--w-tablet:70px;--w-mobile:70px;--bc:#242424;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:70px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:70px;--w-tablet:70px;--w-mobile:70px;--bc:#242424;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:70px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-549795511062758304 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=549790644395049888&sectionId=549795511062758304)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg-R5ylguWL_text","label":"gg-R5ylguWL_text","default":"<strong>Tired of the Hassle?&nbsp;</strong>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
