

<style>.gps-535138477583434673 .gp-absolute{position:absolute}.gps-535138477583434673 .gp-relative{position:relative}.gps-535138477583434673 .gp-z-1{z-index:1}.gps-535138477583434673 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535138477583434673 .gp-mb-0{margin-bottom:0}.gps-535138477583434673 .gp-flex{display:flex}.gps-535138477583434673 .gp-grid{display:grid}.gps-535138477583434673 .\!gp-hidden{display:none!important}.gps-535138477583434673 .gp-hidden{display:none}.gps-535138477583434673 .gp-h-full{height:100%}.gps-535138477583434673 .gp-w-full{width:100%}.gps-535138477583434673 .gp-max-w-full{max-width:100%}.gps-535138477583434673 .gp-flex-col{flex-direction:column}.gps-535138477583434673 .gp-items-center{align-items:center}.gps-535138477583434673 .\!gp-justify-end{justify-content:flex-end!important}.gps-535138477583434673 .\!gp-justify-center{justify-content:center!important}.gps-535138477583434673 .gp-gap-y-0{row-gap:0}.gps-535138477583434673 .gp-overflow-hidden{overflow:hidden}.gps-535138477583434673 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535138477583434673 .gp-duration-200{transition-duration:.2s}.gps-535138477583434673 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-535138477583434673 .tablet\:gp-relative{position:relative}.gps-535138477583434673 .tablet\:\!gp-hidden{display:none!important}.gps-535138477583434673 .tablet\:gp-hidden{display:none}.gps-535138477583434673 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-535138477583434673 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-535138477583434673 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-535138477583434673 .mobile\:gp-relative{position:relative}.gps-535138477583434673 .mobile\:\!gp-hidden{display:none!important}.gps-535138477583434673 .mobile\:gp-hidden{display:none}.gps-535138477583434673 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-535138477583434673 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-535138477583434673 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-535138477583434673 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-535138477583434673 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-535138477583434673 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="i2lb8cf3e41d0" data-id="i2lb8cf3e41d0"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(101, 101, 101)"
        class="i2lb8cf3e41d0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_ZGBmLrEmNaFE gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:764px;--h-tablet:500px;--h-mobile:216px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"size":"cover","type":"video","color":"","image":{"src":"","width":1439,"height":764,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","videoType":"html5","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/f37818ae1e9e4a248fee3f7e57705999.mp4","video":"","loop":true},"tablet":{"size":"cover","type":"video","color":"","image":{"src":"","width":1439,"height":764,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","videoType":"html5","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/f37818ae1e9e4a248fee3f7e57705999.mp4","video":"","loop":true},"mobile":{"size":"cover","type":"video","color":"#000000","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/gempages_532871831896458163-9b83f2b5-3387-4553-a83e-aafc035fa77f.jpg","width":1138,"height":606,"backupFileKey":"gempages_532871831896458163-9b83f2b5-3387-4553-a83e-aafc035fa77f.jpg","storage":"FILE_CONTENT"},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","videoType":"html5","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0b0507be6d5343f39027f9c2e6f1626d.mp4","video":"","loop":true}},"uid":"rewrap_row_ZGBmLrEmNaFE","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="rewrap_row_ZGBmLrEmNaFE gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:764px;--h-tablet:500px;--h-mobile:216px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="rewrap_row_ZGBmLrEmNaFE"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:764px;--h-tablet:500px;--h-mobile:216px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_532871831896458163-9b83f2b5-3387-4553-a83e-aafc035fa77f_768x768.jpg" | file_url }}" />
        
        <img
          title
          class="adaptive-hero-banner"
          src=""
          alt=""
          fetchpriority="high"
          style="--aspect:1439/764;--aspect-tablet:1439/764;--aspect-mobile:1138/606;--d:none;--d-tablet:none;--d-mobile:none;--h:764px;--h-tablet:500px;--h-mobile:216px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_532871831896458163-9b83f2b5-3387-4553-a83e-aafc035fa77f_768x768.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src=""
        width="100%"
        alt=""
        style="--aspect:1439/764;--aspect-tablet:1439/764;--aspect-mobile:1138/606;--d:none;--d-tablet:none;--d-mobile:none;--h:764px;--h-tablet:500px;--h-mobile:216px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc-mobile:#000000;--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('');--bgi-tablet:url('');--bgi-mobile:url('');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
              </div>  
              
    
    <video
      id="gp-video-rewrap_row_ZGBmLrEmNaFE"
      class="lazy gp-w-full gp-relative"
      
      
      loop
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src=""
      poster=""
      playsinline
    >
      
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
   </div>
            </div>
            
          </div>
          
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="c-hb-rewrap_row_ZGBmLrEmNaFE gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-535138477583434673 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=535138477415596977&sectionId=535138477583434673)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
