

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534171360520307808.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-534171360520307808.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534171360520307808.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-534171360520307808.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534171360520307808.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534171360520307808.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534171360520307808.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534171360520307808.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534171360520307808.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534171360520307808.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534171360520307808.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-534171360520307808.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-534171360520307808.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534171360520307808.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-534171360520307808.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-534171360520307808.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534171360520307808.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-534171360520307808.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-534171360520307808.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-534171360520307808.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534171360520307808.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534171360520307808.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534171360520307808.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534171360520307808.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534171360520307808.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534171360520307808.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534171360520307808.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534171360520307808.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534171360520307808.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534171360520307808.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-534171360520307808.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534171360520307808.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534171360520307808.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-534171360520307808.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-534171360520307808.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-534171360520307808.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534171360520307808.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534171360520307808.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534171360520307808.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534171360520307808.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534171360520307808.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534171360520307808.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534171360520307808.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534171360520307808.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-534171360520307808.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534171360520307808.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-534171360520307808.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-534171360520307808.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534171360520307808.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534171360520307808.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1023px){.gps-534171360520307808.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-534171360520307808.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-534171360520307808.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534171360520307808.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-534171360520307808.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534171360520307808.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-534171360520307808.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-534171360520307808.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-534171360520307808.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-534171360520307808.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-534171360520307808.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534171360520307808.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534171360520307808.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-534171360520307808.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-534171360520307808.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-534171360520307808.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-534171360520307808.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534171360520307808.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534171360520307808.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534171360520307808.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-534171360520307808.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-534171360520307808.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534171360520307808.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534171360520307808.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-534171360520307808.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-534171360520307808.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-534171360520307808.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-534171360520307808 .gp-absolute{position:absolute}.gps-534171360520307808 .gp-relative{position:relative}.gps-534171360520307808 .gp-z-1{z-index:1}.gps-534171360520307808 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534171360520307808 .gp-mb-0{margin-bottom:0}.gps-534171360520307808 .gp-flex{display:flex}.gps-534171360520307808 .gp-inline-flex{display:inline-flex}.gps-534171360520307808 .gp-grid{display:grid}.gps-534171360520307808 .\!gp-hidden{display:none!important}.gps-534171360520307808 .gp-hidden{display:none}.gps-534171360520307808 .gp-h-full{height:100%}.gps-534171360520307808 .gp-w-full{width:100%}.gps-534171360520307808 .gp-max-w-full{max-width:100%}.gps-534171360520307808 .gp-flex-col{flex-direction:column}.gps-534171360520307808 .gp-items-center{align-items:center}.gps-534171360520307808 .\!gp-justify-end{justify-content:flex-end!important}.gps-534171360520307808 .\!gp-justify-center{justify-content:center!important}.gps-534171360520307808 .gp-justify-center{justify-content:center}.gps-534171360520307808 .gp-gap-y-0{row-gap:0}.gps-534171360520307808 .gp-overflow-hidden{overflow:hidden}.gps-534171360520307808 .gp-break-words{overflow-wrap:break-word}.gps-534171360520307808 .gp-rounded-none{border-radius:0}.gps-534171360520307808 .gp-text-center{text-align:center}.gps-534171360520307808 .gp-no-underline{text-decoration-line:none}.gps-534171360520307808 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534171360520307808 .gp-duration-200{transition-duration:.2s}.gps-534171360520307808 .gp-duration-300{transition-duration:.3s}.gps-534171360520307808 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534171360520307808 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-534171360520307808 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-534171360520307808 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-534171360520307808 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-534171360520307808 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-534171360520307808 .tablet\:gp-relative{position:relative}.gps-534171360520307808 .tablet\:\!gp-hidden{display:none!important}.gps-534171360520307808 .tablet\:gp-hidden{display:none}.gps-534171360520307808 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-534171360520307808 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-534171360520307808 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-534171360520307808 .mobile\:gp-relative{position:relative}.gps-534171360520307808 .mobile\:\!gp-hidden{display:none!important}.gps-534171360520307808 .mobile\:gp-hidden{display:none}.gps-534171360520307808 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-534171360520307808 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-534171360520307808 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-534171360520307808 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-534171360520307808 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-534171360520307808 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534171360520307808 .\[\&_p\]\:gp-inline p{display:inline}.gps-534171360520307808 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-534171360520307808 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534171360520307808 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l83d3dc9b24"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(85, 80, 85)"
        class="i2l83d3dc9b24 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_VrRMHPsuQSPv gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:800px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"size":"cover","type":"video","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-10_at_3.20.12_PM.png?v=1725996188","width":2050,"height":1156,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","videoType":"html5","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/c0b48f376d124e098117b2de939d715b.mp4","video":""},"tablet":{"size":"cover","type":"video","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-10_at_3.20.12_PM.png?v=1725996188","width":2050,"height":1156,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","videoType":"html5","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/c0b48f376d124e098117b2de939d715b.mp4","video":""},"mobile":{"size":"cover","type":"video","color":"","image":{"src":"https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-10_at_3.20.12_PM.png?v=1725996188","width":2050,"height":1156,"backupFileKey":""},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll","videoType":"html5","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/c0b48f376d124e098117b2de939d715b.mp4","video":""}},"uid":"rewrap_row_VrRMHPsuQSPv","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="rewrap_row_VrRMHPsuQSPv gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:800px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          title
          class="adaptive-hero-banner"
          src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-10_at_3.20.12_PM.png?v=1725996188"
          alt=""
          fetchpriority="high"
          style="--aspect:2050/1156;--aspect-tablet:2050/1156;--aspect-mobile:2050/1156;--d:none;--d-tablet:none;--d-mobile:none;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/Screenshot_2024-09-10_at_3.20.12_PM.png?v=1725996188"
        width="100%"
        alt=""
        style="--aspect:2050/1156;--aspect-tablet:2050/1156;--aspect-mobile:2050/1156;--d:none;--d-tablet:none;--d-mobile:none;--h:800px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
              style="--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
              
    
    <video
      id="gp-video-rewrap_row_VrRMHPsuQSPv"
      class="lazy gp-w-full gp-relative"
      
      
      
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src=""
      poster=""
      playsinline
    >
      
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
   </div>
            </div>
            
          </div>
          
          
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="c-hb-rewrap_row_VrRMHPsuQSPv gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-c-nsw-i2l7e0cc5b90d"
        style="--mt:auto;--ml:auto;--mb:48px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:562px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2l7e0cc5b90d gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l7e0cc5b90d gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="yeIoVhjBnPpf "
        style="--ta:center;--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:60px;--size-tablet:52px;--size-mobile:46px;--lh:120%;--weight:bold;--c:rgb(255, 254, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;overflow:hidden"
        >{{ section.settings.gyeIoVhjBnPpf_text }}</h2>
      </div>
    </div>
  <gp-button >
  <div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    
  >
    <style>
    .gfIJdHYsxClS.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      
    }

    .gfIJdHYsxClS:hover::before {
      
      
    }

    .gfIJdHYsxClS:hover .gp-button-icon {
      color: undefined;
    }

     .gfIJdHYsxClS .gp-button-icon {
      color: rgb(33, 33, 33);
    }

    .gfIJdHYsxClS:hover .gp-button-price {
      color: undefined;
    }

    .gfIJdHYsxClS .gp-button-price {
      color: rgb(33, 33, 33);
    }

    .gfIJdHYsxClS .gp-product-dot-price {
       color: rgb(33, 33, 33);
    }

    .gfIJdHYsxClS:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://eyelace.com/pages/how-to" target="_self" data-id="gfIJdHYsxClS" aria-label="LEARN HOW"
      
      data-state="idle"
      class="gfIJdHYsxClS gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-center"
      style="--bg:rgb(254, 254, 254);--hvr-bg:var(--g-c-highlight, highlight);--bblr:9px;--bbrr:9px;--btlr:9px;--btrr:9px;--shadow:none;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:45px;--h-tablet:45px;--h-mobile:45px;--pl:0px;--pr:0px;--pt:8px;--pb:8px;--c:rgb(33, 33, 33);--size:13px;--size-tablet:14px;--size-mobile:12px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:13px;--size-tablet:14px;--size-mobile:12px"
      >
        {{ section.settings.ggfIJdHYsxClS_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-534171360520307808 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534164834787263461&sectionId=534171360520307808)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gyeIoVhjBnPpf_text","label":"gyeIoVhjBnPpf_text","default":"INSTRUCTIONAL VIDEO"},{"type":"html","id":"ggfIJdHYsxClS_label","label":"ggfIJdHYsxClS_label","default":"LEARN HOW"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
