

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534723876655989921.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534723876655989921.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534723876655989921.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534723876655989921.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534723876655989921.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534723876655989921.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534723876655989921.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534723876655989921.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534723876655989921.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534723876655989921.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-534723876655989921.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534723876655989921.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534723876655989921.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534723876655989921.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534723876655989921.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534723876655989921.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534723876655989921.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534723876655989921.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534723876655989921.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-534723876655989921.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-534723876655989921.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534723876655989921.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534723876655989921.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534723876655989921.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534723876655989921.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534723876655989921.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534723876655989921.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534723876655989921.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534723876655989921.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534723876655989921.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534723876655989921.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-534723876655989921.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534723876655989921.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534723876655989921.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-534723876655989921.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534723876655989921.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534723876655989921.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-534723876655989921 .gp-relative{position:relative}.gps-534723876655989921 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534723876655989921 .gp-mb-0{margin-bottom:0}.gps-534723876655989921 .gp-flex{display:flex}.gps-534723876655989921 .gp-grid{display:grid}.gps-534723876655989921 .\!gp-hidden{display:none!important}.gps-534723876655989921 .gp-hidden{display:none}.gps-534723876655989921 .gp-max-w-full{max-width:100%}.gps-534723876655989921 .gp-flex-col{flex-direction:column}.gps-534723876655989921 .gp-gap-y-0{row-gap:0}.gps-534723876655989921 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534723876655989921 .gp-duration-200{transition-duration:.2s}.gps-534723876655989921 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-534723876655989921 .tablet\:\!gp-hidden{display:none!important}.gps-534723876655989921 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534723876655989921 .mobile\:\!gp-hidden{display:none!important}.gps-534723876655989921 .mobile\:gp-hidden{display:none}}.gps-534723876655989921 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gPv8EzEHL4"
        style="--blockPadding:base;--mb:auto;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPv8EzEHL4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gzuEioyNoA gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="g_YiOrMmQ- "
    ><div></div></div>
  
      <style id="custom-css-g_YiOrMmQ-">
        #ultimateTrustBadgeswidgetDiv {
    display: none !important;
}
      </style>
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-534723876655989921 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534164834787263461&sectionId=534723876655989921)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
