

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-534307518784996122.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-534307518784996122.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-534307518784996122.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-534307518784996122.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-534307518784996122.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-534307518784996122.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-534307518784996122.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-534307518784996122.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-534307518784996122.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-534307518784996122.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-534307518784996122.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-534307518784996122.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-534307518784996122.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-534307518784996122.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-534307518784996122.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-534307518784996122.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-534307518784996122.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-534307518784996122.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-534307518784996122.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-534307518784996122.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-534307518784996122.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-534307518784996122.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-534307518784996122.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-534307518784996122.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-534307518784996122.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-534307518784996122.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-534307518784996122.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-534307518784996122.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-534307518784996122.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-534307518784996122.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-534307518784996122.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-534307518784996122.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-534307518784996122.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-534307518784996122.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-534307518784996122.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-534307518784996122.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-534307518784996122.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-534307518784996122.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-534307518784996122.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-534307518784996122.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-534307518784996122.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-534307518784996122.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-534307518784996122.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-534307518784996122.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-534307518784996122.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-534307518784996122.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-534307518784996122.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-534307518784996122.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-534307518784996122.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-534307518784996122.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-534307518784996122.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-534307518784996122.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-534307518784996122.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-534307518784996122.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-534307518784996122 .gp-relative{position:relative}.gps-534307518784996122 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-534307518784996122 .gp-mb-0{margin-bottom:0}.gps-534307518784996122 .\!gp-inline{display:inline!important}.gps-534307518784996122 .gp-flex{display:flex}.gps-534307518784996122 .gp-grid{display:grid}.gps-534307518784996122 .\!gp-hidden{display:none!important}.gps-534307518784996122 .gp-hidden{display:none}.gps-534307518784996122 .gp-h-full{height:100%}.gps-534307518784996122 .gp-w-full{width:100%}.gps-534307518784996122 .gp-max-w-full{max-width:100%}.gps-534307518784996122 .gp-flex-col{flex-direction:column}.gps-534307518784996122 .gp-gap-y-0{row-gap:0}.gps-534307518784996122 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-534307518784996122 .gp-duration-200{transition-duration:.2s}.gps-534307518784996122 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-534307518784996122 .tablet\:\!gp-hidden{display:none!important}.gps-534307518784996122 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-534307518784996122 .mobile\:\!gp-hidden{display:none!important}.gps-534307518784996122 .mobile\:gp-hidden{display:none}}.gps-534307518784996122 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-534307518784996122 .\[\&_p\]\:gp-inline p{display:inline}.gps-534307518784996122 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-534307518784996122 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gLrNuNr-RC"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLrNuNr-RC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gjYmPohH-3 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gNNVSHwM3X"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNNVSHwM3X gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g5Mmh8Qp5m gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g8q5nT1kvc"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8q5nT1kvc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g0zl9KPD4i gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gwp1oXP2XO"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwp1oXP2XO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ggdEip38sa gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gFPe-gMptN"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFPe-gMptN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gDuWLx58fb gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gf5A2nIicq"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/ball-gown-lash-set" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/BG_package_square.jpg?v=1725719633"
          alt=""
          fetchpriority="high"
          style="--aspect:4298/4298;--aspect-tablet:4298/4298;--aspect-mobile:4298/4298;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://cdn.shopify.com/s/files/1/0648/3220/9045/files/BG_package_square.jpg?v=1725719633"
        width="100%"
        alt=""
        style="--aspect:4298/4298;--aspect-tablet:4298/4298;--aspect-mobile:4298/4298;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    <div
      parentTag="Col"
        class="gIEXsGFJtg "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:22px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIEXsGFJtg_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gwNjbWtJm5 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwNjbWtJm5_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="ggo48VNSjm gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="g5i_ViIvH- gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="gre3KJPoYL gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-534307518784996122 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=534164834787263461&sectionId=534307518784996122)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggIEXsGFJtg_text","label":"ggIEXsGFJtg_text","default":"<a href=\"https://eyelace.com/products/ball-gown-lash-set\">Ball Gown Lash Set</a>"},{"type":"html","id":"ggwNjbWtJm5_text","label":"ggwNjbWtJm5_text","default":"<p>$14.50</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
