

<style>.gps-535138477700809649 .gp-relative{position:relative}.gps-535138477700809649 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535138477700809649 .gp-mb-0{margin-bottom:0}.gps-535138477700809649 .gp-flex{display:flex}.gps-535138477700809649 .gp-grid{display:grid}.gps-535138477700809649 .\!gp-hidden{display:none!important}.gps-535138477700809649 .gp-hidden{display:none}.gps-535138477700809649 .gp-max-w-full{max-width:100%}.gps-535138477700809649 .gp-flex-col{flex-direction:column}.gps-535138477700809649 .gp-gap-y-0{row-gap:0}.gps-535138477700809649 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535138477700809649 .gp-duration-200{transition-duration:.2s}.gps-535138477700809649 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-535138477700809649 .tablet\:\!gp-hidden{display:none!important}.gps-535138477700809649 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-535138477700809649 .mobile\:\!gp-hidden{display:none!important}.gps-535138477700809649 .mobile\:gp-hidden{display:none}}.gps-535138477700809649 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gPv8EzEHL4" data-id="gPv8EzEHL4"
        style="--blockPadding:base;--mb:auto;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPv8EzEHL4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gzuEioyNoA gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="g_YiOrMmQ- "
    ><div></div></div>
  
      <style id="custom-css-g_YiOrMmQ-">
        #ultimateTrustBadgeswidgetDiv {
    display: none !important;
}
      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-535138477700809649 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=535138477415596977&sectionId=535138477700809649)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
