

<style>.gps-535360312929420516 .gp-relative{position:relative}.gps-535360312929420516 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-535360312929420516 .gp-mb-0{margin-bottom:0}.gps-535360312929420516 .gp-flex{display:flex}.gps-535360312929420516 .gp-grid{display:grid}.gps-535360312929420516 .\!gp-hidden{display:none!important}.gps-535360312929420516 .gp-hidden{display:none}.gps-535360312929420516 .gp-max-w-full{max-width:100%}.gps-535360312929420516 .gp-flex-col{flex-direction:column}.gps-535360312929420516 .gp-gap-y-0{row-gap:0}.gps-535360312929420516 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-535360312929420516 .gp-duration-200{transition-duration:.2s}.gps-535360312929420516 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-535360312929420516 .tablet\:\!gp-hidden{display:none!important}.gps-535360312929420516 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-535360312929420516 .mobile\:\!gp-hidden{display:none!important}.gps-535360312929420516 .mobile\:gp-hidden{display:none}}.gps-535360312929420516 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-535360312929420516 .\[\&_p\]\:gp-inline p{display:inline}.gps-535360312929420516 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-535360312929420516 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gXVsgYMAQj" data-id="gXVsgYMAQj"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXVsgYMAQj gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLGB9mlD5S gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gNkUo1-A_J">
    <div
      parentTag="Col"
        class="gNkUo1-A_J "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:16px;--size-tablet:46px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNkUo1-A_J_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-535360312929420516 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=535138477415596977&sectionId=535360312929420516)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggNkUo1-A_J_text","label":"ggNkUo1-A_J_text","default":"Where you will experience the most natural, elegant single-placement faux lashes on the market"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
