

<style>@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');.gps-549801365505836229 .gp-relative{position:relative}.gps-549801365505836229 .gp-z-1{z-index:1}.gps-549801365505836229 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-549801365505836229 .gp-mb-0{margin-bottom:0}.gps-549801365505836229 .gp-flex{display:flex}.gps-549801365505836229 .gp-inline-flex{display:inline-flex}.gps-549801365505836229 .gp-grid{display:grid}.gps-549801365505836229 .\!gp-hidden{display:none!important}.gps-549801365505836229 .gp-hidden{display:none}.gps-549801365505836229 .gp-h-full{height:100%}.gps-549801365505836229 .gp-max-w-full{max-width:100%}.gps-549801365505836229 .gp-flex-col{flex-direction:column}.gps-549801365505836229 .gp-items-center{align-items:center}.gps-549801365505836229 .gp-justify-center{justify-content:center}.gps-549801365505836229 .gp-gap-y-0{row-gap:0}.gps-549801365505836229 .gp-overflow-hidden{overflow:hidden}.gps-549801365505836229 .gp-break-words{overflow-wrap:break-word}.gps-549801365505836229 .gp-rounded-none{border-radius:0}.gps-549801365505836229 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-549801365505836229 .gp-text-center{text-align:center}.gps-549801365505836229 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-549801365505836229 .gp-no-underline{text-decoration-line:none}.gps-549801365505836229 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549801365505836229 .gp-duration-200{transition-duration:.2s}.gps-549801365505836229 .gp-duration-300{transition-duration:.3s}.gps-549801365505836229 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549801365505836229 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-549801365505836229 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-549801365505836229 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-549801365505836229 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-549801365505836229 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-549801365505836229 .tablet\:\!gp-hidden{display:none!important}.gps-549801365505836229 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-549801365505836229 .mobile\:\!gp-hidden{display:none!important}.gps-549801365505836229 .mobile\:gp-hidden{display:none}}.gps-549801365505836229 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-549801365505836229 .\[\&_p\]\:gp-inline p{display:inline}.gps-549801365505836229 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-549801365505836229 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-549801365505836229 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gVvGGRbO1t" data-id="gVvGGRbO1t"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:72px;--pl:0px;--pb:72px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:var(--g-s-2xl);--pl-mobile:8px;--pb-mobile:32px;--pr-mobile:8px;--d:none;--d-tablet:grid;--d-mobile:grid;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#E6CABE"
        class="gVvGGRbO1t gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glnUg-4DG3 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g3eiMsGKBy" data-id="g3eiMsGKBy"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3eiMsGKBy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5g0L_54NO gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdJfcWcrjx">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gdJfcWcrjx "
        style="--ta:center;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--size:23px;--size-tablet:14px;--size-mobile:12px;--weight:bold;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdJfcWcrjx_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHl7InD1bG">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gHl7InD1bG "
        style="--ta:center;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-heading, heading);--size:28px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHl7InD1bG_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gGzCzuKYWM">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gGzCzuKYWM "
        style="--ta:center;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:20px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:17px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(33, 33, 33);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:100px;--pr:100px;--pl-mobile:20px;--pr-mobile:20px;overflow:hidden"
        >{{ section.settings.ggGzCzuKYWM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g_CChUAIC7" data-id="g_CChUAIC7"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_CChUAIC7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHFAgIBBO1 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    
  >
    <style>
    .gKGgAZtV6A.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      
    }

    .gKGgAZtV6A:hover::before {
      
      
    }

    .gKGgAZtV6A:hover .gp-button-icon {
      color: undefined;
    }

     .gKGgAZtV6A .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gKGgAZtV6A:hover .gp-button-price {
      color: undefined;
    }

    .gKGgAZtV6A .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gKGgAZtV6A .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gKGgAZtV6A:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#i2l83d3dc9b24" target="_self" data-id="gKGgAZtV6A" aria-label="<p>LEARN MORE</p>"
      
      data-state="idle"
      class="gKGgAZtV6A gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-bg-g-brand hover:gp-bg-g-highlight gp-text-g-text-3 gp-text-center"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--bblr:11px;--bbrr:11px;--btlr:11px;--btrr:11px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-CormorantGaramond, 'CormorantGaramond'), var(--g-font-body, body);--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggKGgAZtV6A_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-549801365505836229 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/7e97c3-3/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=549790644395049888&sectionId=549801365505836229)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggdJfcWcrjx_text","label":"ggdJfcWcrjx_text","default":"<p><span style=\"font-size:19px;\">How It Works:</span></p>"},{"type":"html","id":"ggHl7InD1bG_text","label":"ggHl7InD1bG_text","default":"<p>BEAUTY MEETS INNOVATION</p>"},{"type":"html","id":"ggGzCzuKYWM_text","label":"ggGzCzuKYWM_text","default":"<p><span style=\"font-size:13px;\">Eyelace’s waterline lashes are applied <strong>beneath your natural lashes</strong> for a look so natural, no one will know they aren’t yours. Our <strong>non-damaging</strong>, easy-to-apply system is designed to elevate your beauty routine in minutes.</span></p>"},{"type":"html","id":"ggKGgAZtV6A_label","label":"ggKGgAZtV6A_label","default":"<p>LEARN MORE</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
